span.window-button div.hover {
  display: none;
}

span.window-button:hover div.normal {
  display: none;
}

span.window-button:hover div.hover {
  display: block;
}

div.selector:hover, div.selector.selected {
  border: 1px dashed black;
}